//Colors
$white: #ffffff;
$yellow-primary: #FFC619;
$gray: #95A5A6;
$red: #F14646;
//Fonts
@import url('https://fonts.googleapis.com/css2?family=Otomanopee+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cairo:wght@200&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Changa:wght@200&display=swap');

//Media Queries
@mixin media($breakpoint) {
	@if $breakpoint == phone-sm {
		@media only screen and (max-width: 320px) {
			@content;
		}
	}
	@if $breakpoint == phone-md {
		@media only screen and (max-width: 480px) {
			@content;
		}
	}
	@if $breakpoint == phone-lg {
		@media only screen and (max-width: 576px) {
			@content;
		}
	}
	@if $breakpoint == tablet-sm {
		@media only screen and (max-width: 798px) {
			@content;
		}
	}
	@if $breakpoint == tablet-md {
		@media only screen and (max-width: 900px) {
			@content;
		}
	}
	@if $breakpoint == tablet-lg {
		@media only screen and (max-width: 1024px) {
			@content;
		}
	}
	@if $breakpoint == desktop-sm {
		@media only screen and (max-width: 1200px) {
			@content;
		}
	}
	@if $breakpoint == desktop-md {
		@media only screen and (max-width: 1366px) {
			@content;
		}
	}
	@if $breakpoint == desktop-lg {
		@media only screen and (max-width: 1680px) {
			@content;
		}
	}
}

/*
--------------------------
---To use media queries---
--------------------------

@include media(desktop-lg) {
  
}
@include media(desktop-md) {
  
}
@include media(desktop-sm) {

}
@include media(tablet-lg) {

}
@include media(tablet-md) {

}
@include media(tablet-sm) {

}
@include media(phone-lg) {

}
@include media(phone-md) {

}
@include media(phone-sm) {

}

*/

/*****************************************/

// Global Styles

body {
	margin: 0;
	padding: 0;
	font-family: 'Cairo', sans-serif;
	min-height: 100vh;
	display: flex;
	flex-direction: column;
}
* {
	margin: 0;
	padding: 0;
	font-family: 'Cairo', sans-serif;
	box-sizing: border-box;
	text-decoration: none;
	-webkit-tap-highlight-color: transparent;
}

//scrollbar style
*::-webkit-scrollbar {
	width: 6px;
	height: 6px;
}
*::-webkit-scrollbar-track {
	background-color: $white;
}
*::-webkit-scrollbar-thumb {
	//background-color: $dark-green;
	border-radius: 10px;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
	-webkit-appearance: none;
}
/********************************************************/

//Globals

//display flex
@mixin flex {
	display: flex;
	justify-content: center;
	align-items: center;
}
/******************************/

@mixin dashLine {
	margin: 50px auto;
	background-color: $gray;
	background-position: bottom;
	background-size: 8% 2px;
	background-repeat: repeat-x;
	width: 100%;
	height: 2px;
}

/******************************/
//floating box animation
/*@mixin box-animate {
	animation: box 0.3s ease 1;
}
@keyframes box {
	0% {
		opacity: 0;
		transform: translateY(-30px);
	}
	100% {
		opacity: 1;
		transform: translateY(unset);
	}
}
/******************************/

/*@mixin table-container {
	box-shadow: 0px 3px 6px $light-grey;
	overflow: hidden;
	overflow-x: auto;
	margin: 40px 20px;
	border-radius: 15px;
	table {
		border-collapse: collapse;
		width: 100%;
		thead {
			th {
				border-bottom: 1px solid $grey;
				padding: 5px;
				font-size: 16px;
				font-weight: 500;
				color: $grey;
				white-space: nowrap;
				text-align: right;
				padding-left: 50px;
				&:nth-child(1) {
					padding-right: 40px;
				}
			}
		}
		tbody {
			tr {
				.edit-icon {
					background: transparent linear-gradient(79deg, #f19895 0%, #f8ba7d 43%, #ffdc64 100%) 0% 0%
						no-repeat padding-box;
					position: absolute;
					left: 40px;
					width: 30px;
					height: 30px;
					border-radius: 50%;
					display: flex;
					justify-content: center;
					align-items: center;
					color: $white;
					cursor: pointer;
					&:hover {
						background: linear-gradient(79deg, $pink 0%, $light-orange 0%, $yellow 100%) 0% 0% no-repeat;
					}
					&:active {
						transition: none;
						transform: scale(0.95);
					}
				}
				td {
					position: relative;
					padding: 12px 0px;
					padding-left: 25px;
					&:nth-child(1) {
						padding-right: 40px;
					}
				}
				input {
					background-color: transparent;
					outline: none;
					border: none;
					text-align: center;
					font-size: 15px;
					color: $dark-green;
					font-weight: 500;
					display: inline-block;
					width: max-content;
					padding: 5px 10px;
					border-radius: 8px;
					&:focus,
					&.active {
						background-color: rgba($dark-green, 1);
						color: $white;
					}
					&[type='number'] {
						padding-left: 0;
						max-width: 80px;
						text-align: right;
					}
				}
				&:nth-child(even) {
					background-color: rgba($mid-grey, 0.7);
					input {
						color: $white;
					}
					td {
						color: $white;
					}
				}
			}
			.delete-btn-container {
				background: transparent linear-gradient(79deg, #f19895 0%, #f8ba7d 43%, #ffdc64 100%) 0% 0% no-repeat
					padding-box;
				box-shadow: 0px 3px 6px #00000029;
				border-radius: 8px;
				opacity: 1;
				display: flex;
				justify-content: space-around;
				padding: 5px 20px;
				margin-left: 40px;
				cursor: pointer;
				width: max-content;
				outline: none;
				border: none;
				transition: 0.3s ease;
				&:hover {
					background: linear-gradient(79deg, $pink 0%, $light-orange 0%, $yellow 100%) 0% 0% no-repeat;
				}
				&:active {
					transition: none;
					transform: scale(0.95);
				}
				p {
					color: $white;
					font-size: 14px;
				}
				svg {
					font-size: 20px;
					color: white;
					margin-right: 8px;
				}
			}
		}
		tfoot {
			background: transparent linear-gradient(79deg, #f19895 0%, #f8ba7d 43%, #ffdc64 100%) 0% 0% no-repeat
				padding-box;
			tr {
				td {
					padding: 12px;
					padding-right: 10px;
					color: $white;
					font-size: 20px;
					font-weight: 500;
				}
			}
		}
	}
}
*/