@import "../../assets/styles/global";

.employees-container {
  .title {
    text-align: center;
    h3 {
      font-size: 25px;
      font-weight: bold;
      font-family: "Changa", sans-serif;
    }
  }
  .employees {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    div {
      background-color: $gray;
      padding: 4px 60px;
      border-radius: 50px;
      margin: 25px;
      color: $white;
      cursor: pointer;
      font-weight: bold;
      box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.16);
      &:hover {
        background-color: $yellow-primary;
        transition: all 0.3s ease;

      }
      &:active {
        transition: none;
        transform: scale(0.95);
      }
    }
    .active {
      background-color: $yellow-primary;
    }
  }
  
}
