@import "../../assets/styles/global";

.home-container {

  .dash-line {
    @include dashLine;
    width: 70%;
  }
  .add-button {
    width: 70%;
    margin: auto;
    display: flex;
    justify-content: flex-end;
    margin-top: 50px;
    button {
      background-color: $yellow-primary;
      padding: 4px 50px;
      border-radius: 10px;
      outline: none;
      border: none;
      box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.16);
      color: $white;
      font-weight: bold;
      cursor: pointer;
      &:hover {
        background-color: rgba(233, 164, 16, 0.938);
        transition: all 0.3s ease;
      }
      &:active {
        transition: none;
        transform: scale(0.95);
      }
    }
  }
}
