@import url("https://fonts.googleapis.com/css2?family=Otomanopee+One&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Cairo:wght@200&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Changa:wght@200&display=swap");
/*****************************************/
body {
  margin: 0;
  padding: 0;
  font-family: "Cairo", sans-serif;
  min-height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

* {
  margin: 0;
  padding: 0;
  font-family: "Cairo", sans-serif;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  text-decoration: none;
  -webkit-tap-highlight-color: transparent;
}

*::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}

*::-webkit-scrollbar-track {
  background-color: #ffffff;
}

*::-webkit-scrollbar-thumb {
  border-radius: 10px;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

/********************************************************/
/******************************/
/******************************/
.home-container {
  padding: 30px;
}

.home-container .dash-line {
  margin: 50px auto;
  background-color: #95a5a6;
  background-position: bottom;
  background-size: 8% 2px;
  background-repeat: repeat-x;
  width: 100%;
  height: 2px;
  width: 70%;
}

.home-container .extra-service {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 70%;
  margin: auto;
}

.home-container .extra-service div {
  margin-left: 20px;
  color: black;
  font-weight: bold;
}

.home-container .extra-service div input {
  -webkit-box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.3);
          box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.3);
  outline: none;
  border: none;
  padding: 8px 20px;
  border-radius: 8px;
  color: black;
  font-weight: 800;
}

.home-container .extra-service div input[type="text"] {
  padding-left: 50px;
}

.home-container .add-button {
  width: 70%;
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  margin-top: 50px;
}

.home-container .add-button button {
  background-color: #ffc619;
  padding: 4px 50px;
  border-radius: 10px;
  outline: none;
  border: none;
  -webkit-box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.16);
          box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.16);
  color: #ffffff;
  font-weight: bold;
  cursor: pointer;
  font-size: 16px;
}

.home-container .add-button button:hover {
  background-color: #e9a410;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.home-container .add-button button:active {
  -webkit-transition: none;
  transition: none;
  -webkit-transform: scale(0.95);
          transform: scale(0.95);
}

@media only screen and (max-width: 798px) {
  .home-container .add-button {
    width: auto;
    margin-top: 40px;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}
/*# sourceMappingURL=style.css.map */